#error__btn {
    background: var(--main-color);
    color: #fff;
    box-shadow: #1c1a1a73 6px 8px 2px 0px;

    &:hover {
        box-shadow: none;
        background-color: #fff;
        color: var(--main-color);
    }
}