#navbar {
    height: 60px;
    border-left: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    background-color: var(--theme-background);
    transition: var(--transition);
    z-index: 999999;

    .input__container {
        background-color: var(--layout-background);
        max-width: 358px;
        border-radius: 8px;
        transition: var(--transition);


        input {
            font-size: 1rem;
            color: #7c7c8d;
            caret-color: #EF9011;

            &::placeholder {
                font-family: 'DM Sans';
                font-size: 1rem;
                color: #7c7c8d
            }
        }
    }

    .sittings__container {
        .notification__icon {
            cursor: pointer;
        }

        .dropdown-menu {
            background-color: var(--theme-background);

            button {
                transition: var(--transition);

                a {
                    color: var(--link-color);
                    transition: var(--transition);
                }

                &:hover {
                    background-color: var(--link-background);

                    a {
                        color: var(--link-active-color);
                    }
                }

            }
        }

        #dropdown-basic-button {
            border: none;
            padding: 0;

            &::after {
                display: none;
            }
        }


        .theme__mode {
            color: #808191
        }
    }

    @media (max-width:767px) {
        .input__container {
            input {
                font-size: .85rem;

                &::placeholder {
                    font-size: .85rem;
                }
            }
        }

    }
}