#sidebar__ul {
    .sidebar__li {
        background-color: transparent;
        transition: var(--transition);

        .sidebar__link {

            font-family: "DM Sans";
            font-size: .9rem;
            font-weight: 500;
            color: #808191;
            transition: var(--transition);

            &.active,
            &:hover {
                background-color: var(--hover-color);
            }
        }
    }
}