#sidebar__ul {
    .sidebar__li {
        background-color: transparent;
        transition: var(--transition);

        .sidebar__link {

            font-family: "DM Sans";
            font-size: .9rem;
            font-weight: 500;
            color: var(--link-color);
            transition: var(--transition);

            &.active,
            &:hover {
                background-color: var(--link-background);
                color: var(--link-active-color);
            }
        }
    }
}