#sidebar__ul {
    .sidebar__li {
        background-color: transparent;
        transition: var(--transition);

        .sidebar__link {

            font-family: "DM Sans";
            font-size: .9rem;
            font-weight: 500;
            color: var(--link-color);
            transition: var(--transition);
            border-radius: 8px;


            &::after {
                content: attr(data-tooltip);
                position: absolute;
                background-color: var(--link-background);
                right: -95px;
                padding: 0 5px;
                border-radius: 0 8px 8px 0;
                height: 100%;
                display: flex;
                align-items: center;
                min-width: 80px;
                transform-origin: left;
                padding: 0 5px;
                transition: .3s linear;
                transform: scale(0);
                padding: 0 6px;
                width: 100%;
                justify-content: center;
                z-index: 999 !important;
                font-weight: 200;
                border: 1px solid var(--link-border-color);
            }

            &::before {
                content: "";
                position: absolute;
                right: -15px;
                border: 10px solid transparent;
                border-right-color: var(--link-border-color);
                transform: scale(0);
                width: 100%;
                z-index: 999 !important;

            }


            &.active,
            &:hover:not(.disabled) {
                background-color: var(--link-background);
                color: var(--link-active-color);
            }



        }
    }




    @media (max-width: 500px) {
        width: 100%;


        .sidebar__link {
            justify-content: center;

            &.active,
            &:hover {
                border-radius: 0 !important;

            }
        }
    }

    @media (max-width:767px) {
        .sidebar__link {
            &:hover {
                border-radius: 8px 0 0 8px;

                &:after,
                &::before {
                    transform: scale(1);
                }


            }
        }

    }

}