#sidebar {
    height: 100vh;
    position: sticky;
    top: 0;


    .sidebar__inner-content {

        .sidebar__top {
            .logo {
                height: 60px;
                display: flex;
                align-items: center;
            }
        }
    }
}