#sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: var(--theme-background);
    transition: var(--transition);

    .sidebar__inner-content {
        height: 100vh;

        .sidebar__top {
            .logo {
                height: 60px;
                display: flex;
                align-items: center;

                a {
                    font-weight: 700;
                    font-size: 1.3rem;
                    color: var(--logo-color);

                }
            }
        }
    }

    .theme__mode {
        color: #808191
    }


}