.feat__container {

    padding: 20px 45px;
    border-radius: 14px;
    text-align: center;
    transition: var(--transition);
    background-color: var(--theme-background);

    .feat__inner-top {
        h3 {
            font-weight: 700;
            font-size: 1.3rem;
            color: var(--logo-color);
            transition: var(--transition);
        }

        .icon__container {
            height: 38px;
            width: 38px;
            transition: var(--transition);
        }
    }

    .feat__inner-bottom {
        .CircularProgressbar {
            width: 112px;

            path {
                stroke-linecap: round !important;
            }

            .CircularProgressbar-path,
            .CircularProgressbar-trail,
            .CircularProgressbar-text {
                transition: var(--transition);
                border-radius: 10px;
            }

            .CircularProgressbar-trail {
                stroke-width: 7.9px;
            }

            .CircularProgressbar-text {
                fill: var(--theme-text-color);
                font-weight: 700;
                font-size: 22px;
            }
        }
    }

    &:hover {
        background-color: var(--main-color);
        color: var(--white-color) !important;

        .feat__inner-top {
            h3 {

                color: var(--white-color);
            }

            .icon__container {
                background-color: #A66FF0 !important;
                color: var(--white-color) !important;
            }
        }

        .feat__inner-bottom {

            .CircularProgressbar {
                .CircularProgressbar-path {
                    stroke: var(--white-color) !important;
                }

                .CircularProgressbar-trail {
                    stroke: #B37EFC !important;
                }

                .CircularProgressbar-text {
                    fill: var(--white-color);

                }
            }
        }

    }

    @media (min-width: 768px) and (max-width: 1100px) {
        padding: 15px 20px;
    }

    @media (max-width:1100px) {
        .feat__inner-top {
            h3 {
                font-size: 1rem;
            }

        }
    }
}