.product__recommended-container {
    padding: 15px 27px;
    border-radius: 14px;

    .product__inner-top {

        h4 {
            font-weight: 700 !important;
            font-size: 1rem;
            color: var(--secondary-color);

        }
    }

    .product__inner-center {
        img {
            min-height: 100px;
            max-height: 100px;
        }

    }

    .product__inner-bottom {
        color: #72767C;



        h3 {
            font-weight: 700;
            font-size: 1.25rem;
            color: #1F2128;
        }

        .left {
            .icons__container {
                span {
                    font-weight: 500;
                    font-size: .9rem;

                }
            }
        }

        .right {
            b {
                font-weight: 500;
                font-size: .9rem;

            }
        }
    }







}